@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(234, 223, 245);
}

nav {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(67, 28, 104);
    padding: 0 20px;
}

nav h1{
    background-color: rgb(67, 28, 104);
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gameContainer .boxText{
    font-family: 'Baloo 2', serif;
}

#line{
    position: absolute;
    background-color: rgb(67, 28, 104);
    border-radius: 5px;
    height: 3px;
    width: 0;
    transition: width 1s ease-in-out;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 7vw;
}

.box:hover , #reset:hover{
    cursor: pointer;
    background-color: rgb(248, 212, 248);
}

#gameInfo{
    padding: 0 2rem;
    font-size: 1.2rem;
}

#gameInfo h2 , #gameInfo button , #gameInfo span {
    font-family: 'Baloo 2', serif;
}

.infoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.imgbox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Utility classes */
.bt-0{
    border-top: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}


#reset {
    margin-left: 23px;
    padding: 0 15px;
    border-color: rgb(67, 28, 104);
    border-radius: 5px;
}

@media(max-width:800px) {
    .gameContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #gameInfo{
        margin-top: 50px;
    }
    #gameInfo h2{
        text-align: center;
        margin-top: 70px;
    }
    .container{
        margin-top: 90px;
        transform: scale(2);
        /* border: ; */
        /* grid-template-rows: repeat(3,20vw); */
        /* grid-template-columns: repeat(3,20vw); */
    }
    #line{
        height: 1px;
    }
     .box{
        border-width: 1px;
     }
}